/*----------------General-------------------*/
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    font-family: 'Roboto Mono',  serif;
}

.flex-container{
    display: flex;
}

/*Header*/
header{
    margin-left: 8%;
}
header::after{
    content: 'Web de Mikel';
}

/*Navigation*/
nav{
    position: sticky;
    top: 0;
    justify-items: center;
    background-color: burlywood;
    z-index: 1000;
}
nav ul li{
    display: inline;
}
/*Widths*/
.width-50{
    width: 50%;
}
.width-80{
    width: 80%;
}
.width-100{
    width: 100%;
}
.width-100vh{
    width: 100vw;
}
/*Heights*/
.height-40{
    height: 40%;
}
.height-60{
    height: 60%;
}
.height-80{
    height: 80%;
}
.height-100{
    height: 100%;
}
.height-400p{
    height: 400px;
}
.height-100vh{
    height: 100vh;
}

.object-fit-cover{
    object-fit: cover;
}

/*Positions*/
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.z-index--1{
    z-index: -1;
}

/*Paddings*/
.padding-1em{
    padding: 1em;
}
.padding-2em{
    padding: 2em;
}


/*Margins*/
.margin-r-30p{
    margin-right: 30px;
}
.margin-l-30p{
    margin-left: 30px;
}
.margin-5-20{
    margin: 5% 20%;
}
.margin-5-10{
    margin: 5% 10%;
}



/*Borders*/
.circle-radius{
    border-radius: 300px;
}

.soft-circle-radius{
    border-radius: 5px;
}
/*Flex*/
.display-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-right{
    justify-content: right;
}
.gap-5{
    gap: 5%;
}
/*Grid*/
.display-grid{
    display: grid;
}
.grid-gap-1{
    gap: 1rem; 
}
.grid-columns-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-columns-2{
    grid-template-columns: repeat(3, 1fr);
}
/*Lists*/
.list-style-square{
    list-style-type: square;
}
.list-style-circle{
    list-style-type: circle;
}
.list-style-none{
    list-style-type: none;
}
/*Text*/
.font-size-80{
    font-size: 80%;
}
/*Box shadows*/
.box-shadow-3{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}
/*Background*/
.background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-udalaitz{
    background-image: url("../images/udalaitz.jpg");
}
.background-arrasate{
    background-image: url("../images/arrasate.jpg");
}
/*Video*/
.pointer-events-none{
    pointer-events: none;
}

/*Animations*/
.hover-animation-rotate:hover{
    animation: rotateAnimation 1.5s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover-animation-scale {
  transition: transform 0.3s ease;
}
.hover-animation-scale:hover{
    animation: scaleAnimation 0.5s linear;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.animation-from-left {
  animation: moveFromLeft 1.5s ease-out forwards;
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-from-right {
  animation: moveFromRight 1.5s ease-out forwards;
}

@keyframes moveFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/*Debug*/
.test1{
    background-color: aqua;
}
.test2{
    background-color: pink;
}
.test3{
    background-color: greenyellow;
}

/*---------------Biografia----------------*/





  /* Móvil pequeño */
  @media only screen and (max-width: 768px) {
    /* Estilos específicos */
    .flex-container{
        display:block;
    }
    .t-background-image{
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 50%;
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* Estilos específicos */
    .t-background-image{
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 50%;
    }
  }
  
  /* Escritorio grande */
  @media only screen and (min-width: 1200px) {
    /* Estilos específicos */
    .flex-container{
        display:flex;
    }
  }






/*Portfolio*/

.back-end-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
}
.front-grid div, .back-end-grid div {
    background: red;
    padding: 1rem;
    text-align: center;
    border: 1px solid blue;
    height: 100px;
  }

  /*Contacto*/
  form{
    justify-items: center;
    margin-top: 5%;
  }
  fieldset{
    justify-items: center;
    padding: 20px;
  }

  /* Móvil pequeño */
@media only screen and (max-width: 768px) {
    .m-grid-columns-1{
        grid-template-columns: repeat(1, 1fr);
        background-color: pink; 
    }
    /* Estilos específicos */
    .front-grid{
        grid-template-columns: repeat(1, 1fr);
        background-color: pink; 
    }
    
    .back-end-grid{
        grid-template-columns: repeat(1, 1fr); 
        background-color: pink; 
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 768px) {
    /* Estilos específicos */
    .t-grid-columns-2{
        grid-template-columns: repeat(2, 1fr); 
        background-color: orange;
    }
    
    .back-end-grid{
        grid-template-columns: repeat(2, 1fr); 
        background-color: orange;
    }
  }
  
  /* Escritorio grande */
  @media only screen and (min-width: 1200px) {
    /* Estilos específicos */
    .grid-columns-3{
        grid-template-columns: repeat(3, 1fr); 
        background-color: blanchedalmond;
    }
    .grid-columns-2{
        grid-template-columns: repeat(2, 1fr); 
        background-color: blanchedalmond;
    }
  }